.d-flex {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	/* -webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap; */
}

.flex-wrap {
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.flex-grow-1,
.media-body {
	-ms-flex-positive: 1!important;
	flex-grow: 1!important;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.row {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
}

.media {
	display: -webkit-flex;
}

.custom-control-inline {
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
}

.flex-nowrap {
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
}

.align-items-start {
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
}

.justify-content-center {
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.justify-content-between {
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.align-items-center {
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}

.flex-column {
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}

.justify-content-end {
	-webkit-justify-content: flex-end;
	-ms-flex-pack: end;
	justify-content: flex-end;
}

@media (min-width:768px) {
	.d-md-flex,
	.card-group {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
	}
	.justify-content-md-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}
html {
	font-size: 30px;
	width: 100%;
	max-width: 100%;
	font-size: 1.56vw;
}
@media (min-width:576px) {

	.d-sm-flex {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		/* -webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap; */
	}
	.justify-content-sm-between {
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.align-items-sm-center {
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
	.flex-sm-row-reverse {
		-webkit-flex-direction: row-reverse;
		-ms-flex-direction: row-reverse;
		flex-direction: row-reverse;
	}
	.flex-sm-row {
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
	}
}

/* @media (max-width:575px) {

	.d-sm-flex {
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
	}
} */
